$color-hue: 207;

$color-body-background: hsl($color-hue, 10%, 85%);

$color-light-link: hsl($color-hue, 64%, 79%);
$color-lighter-background: hsl($color-hue, 36%, 61%);
$color-light-lighter: hsl($color-hue, 82%, 57%);
$color-darker-text: hsl($color-hue, 43%, 53%);
$color-midpoint-lighter: hsl($color-hue, 69%, 52%);
$color-light: hsl($color-hue, 83%, 50%);
$color-dark-ribbon-back: hsl($color-hue, 100%, 47%);
$color-dark-lighter: hsl($color-hue, 57%, 46%);
$color-light-text: hsl($color-hue, 87%, 45%);
$color-midpoint: hsl($color-hue, 84%, 43%);
$color-dark-link-hover: hsl($color-hue, 85%, 41%);
$color-dark: hsl($color-hue, 85%, 36%);
$color-dark-background: hsl($color-hue, 86%, 30%);
$color-dark-text: hsl($color-hue, 76%, 28%);
$color-very-dark-background: hsl($color-hue, 63%, 18%);
