$color-light-lighter: #379aeb;
$color-midpoint-lighter: #308dd9;
$color-dark-lighter: #327cb8;
$color-light: #168ae9;
$color-midpoint: #1277ca;
$color-dark: #0e64aa;
$color-light-text: #0f7dd7;
$color-dark-text: #114d7e;
$color-darker-text: #548cbb;
$color-dark-background: #0b538e;
$color-lighter-background: #789fbf;
$color-very-dark-background: #11314b;
$color-light-link: #a7cdec;
$color-dark-link-hover: #1071c1;
$color-dark-ribbon-back: #0084f0;
