$color-light-lighter: hsl(207, 82%, 57%);
$color-midpoint-lighter: hsl(207, 69%, 52%);
$color-dark-lighter: hsl(207, 57%, 46%);
$color-light: hsl(207, 83%, 50%);
$color-midpoint: hsl(207, 84%, 43%);
$color-dark: hsl(207, 85%, 36%);
$color-light-text: hsl(207, 87%, 45%);
$color-dark-text: hsl(207, 76%, 28%);
$color-darker-text: hsl(207, 43%, 53%);
$color-dark-background: hsl(207, 86%, 30%);
$color-lighter-background: hsl(207, 36%, 61%);
$color-very-dark-background: hsl(207, 63%, 18%);
$color-light-link: hsl(207, 64%, 79%);
$color-dark-link-hover: hsl(207, 85%, 41%);
$color-dark-ribbon-back: hsl(207, 100%, 47%);
