.footer {
  background: $color-header-ribbon;
  @include box-shadow(0 0 9px 0 #575757);
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.6rem;
  padding: 14px;
  position: relative;

  @media screen and (min-width: 1347px) {
    margin: 0 -15px;
    padding: 14px 33px;
  }

  &:before,
  &:after {
    border-color: $color-header-ribbon-back;
    border-style: solid;
    border-width: 7px;
    border-top-color: transparent;
    bottom: 100%;
    content: '';
    display: none;
    position: absolute;

    @media screen and (min-width: 1347px) {
      display: block;
    }
  }

  &:before {
    border-left-color: transparent;
    left: 0;
  }

  &:after {
    border-right-color: transparent;
    right: 0;
  }

  ul {
    padding-bottom: 6px;
  }

  li {
    border-right: 1px solid $color-lighter-background;
    display: inline-block;

    &:last-child {
      border: 0;
    }

    a {
      display: block;
    }
  }

  a {
    color: $color-light-link;
    padding: 0 10px;
  }

  a:hover,
  .current_page_item a {
    color: #fff;
  }

  .footer-content {
    overflow: hidden;
  }

  .right {
    float: right;
    text-align: right;
  }

  .random-message {
    font-size: .9rem;
  }

  .link-to-top {
    font-size: 1.1rem;
    line-height: 2.1rem;
  }

  .textwidget {
    color: $color-darker-text;
  }
}