.header-nav {
  ul {
    font-size: 1.4rem;
    height: 37px;
    line-height: 3.6rem;
    position: relative;

    // /* Drop Down Menu */
    ul {
      background: $color-header-ribbon;
      @include box-shadow(0 0 5px 0 #575757);
      display: none;
      height: auto;
      left: 0;
      padding: 0;
      position: absolute;
      top: 100%;
      width: 200px;

      ul {
        left: 100%;
        top: 0;
      }
    }
  }

  li {
    display: inline-block;
    position: relative;

    &:hover {
      > ul {
        display: block;
      }
    }

    a {
      color: #fff;
      display: block;
      height: 100%;
      padding: 0 10px;
    }

    li {
      display: block;

      a {
        padding: 4px 10px;
      }
    }
  }

  li a:hover,
  .current_page_item a,
  .current_page_ancestor a,
  .current-menu-item a,
  .current-menu-ancestor a {
    background: $color-header-nav-link-hover;
  }

  .home a {
    padding: 0;
    width: 50px;

    strong {
      background: url('images/home-icon.png') no-repeat 50% 50%;
      cursor: pointer;
      display: block;
      height: 36px;
      text-indent: -20000px;
    }
  }
}
