.header {
  position: relative;

  .branding {
    padding: 22px 28px;
  }

  h1 {
    color: $color-dark-text;
    font-family: $typeface-sans-serif;
    font-size: 4rem;
    font-weight: normal;
    line-height: 4.4rem;

    @media screen and (max-width: 501px) {
      font-size: 3.9rem;
      line-height: 4.3rem;
    }

    @media screen and (max-width: 486px) {
      font-size: 3.8rem;
      line-height: 4.2rem;
    }

    @media screen and (max-width: 478px) {
      font-size: 3.7rem;
      line-height: 4.1rem;
    }

    @media screen and (max-width: 470px) {
      font-size: 3.6rem;
      line-height: 4rem;
    }

    @media screen and (max-width: 458px) {
      font-size: 3.5rem;
      line-height: 3.9rem;
    }

    @media screen and (max-width: 446px) {
      font-size: 3.4rem;
      line-height: 3.8rem;
    }

    @media screen and (max-width: 435px) {
      font-size: 3.3rem;
      line-height: 3.7rem;
    }

    @media screen and (max-width: 422px) {
      font-size: 3.2rem;
      line-height: 3.6rem;
    }

    @media screen and (max-width: 414px) {
      font-size: 3.1rem;
      line-height: 3.5rem;
    }

    @media screen and (max-width: 401px) {
      font-size: 3rem;
      line-height: 3.4rem;
    }

    @media screen and (max-width: 395px) {
      font-size: 2.9rem;
      line-height: 3.3rem;
    }

    @media screen and (max-width: 382px) {
      font-size: 2.8rem;
      line-height: 3.2rem;
    }

    @media screen and (max-width: 371px) {
      font-size: 2.7rem;
      line-height: 3.1rem;
    }

    @media screen and (max-width: 362px) {
      font-size: 2.6rem;
      line-height: 3rem;
    }

    @media screen and (max-width: 350px) {
      font-size: 2.5rem;
      line-height: 2.9rem;
    }

    @media screen and (max-width: 338px) {
      font-size: 2.4rem;
      line-height: 2.8rem;
    }

    a {
      color: $color-dark-text;
    }
  }

  h2 {
    color: $color-light-text;
    font-family: $typeface-serif;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.6rem;
  }

  .search-form {
    @media screen and (min-width: 960px) {
      position: absolute;
      right: 30px;
      top: 26px;
      width: 327px;
    }
  }
}