.search-form {
  background: #f1f1f1;
  padding: 14px;
  position: relative;

  .field {
    background-color: #fff;
    border-color: #909090;
    border-style: solid;
    border-width: 1px 0 0 1px;
    color: #575757;
    padding: 3px;
    width: 100%;
  }

  .search-btn {
    @extend .dwc-search-btn;
    @include background-clip(content-box);
    @include background-origin(content-box);
    border: 0;
    @include box-sizing(content-box);
    cursor: pointer;
    height: 13px;
    margin-top: -11px;
    padding: 5px;
    position: absolute;
    right: 14px;
    top: 50%;
    width: 13px;
  }
}
